*{
	margin: 0;
	padding: 0;
}
html {
	background-color: #ffff80;	
}
header{
	text-align: center;
	margin: 50px;
	padding: 0;
}
#head {
	font-size: 50px;
	font-family: cursive;
	color: cornflowerblue;
}
#result{
	font-size: 30px;
	font-family: Verdana;
	color: chocolate;
	text-align: center;
	margin-bottom: 30px;
} 
canvas{/*canvas is inline by default*/
	display:block;/*removed inline prop.*/
	float:left;/*added block level inline,(thus , removed canvas inline margins)*/ 
	border: 1px solid dodgerblue;/*pixel type color*/
	background-color: lightyellow;
	text-align: center;
}
#game{
	position: relative;/*position the element with respect to screen size*/
	width: 640px;
	height: 320px;/* (3*canvas height(as 3 rows)+20px for margin */
	margin: 0 auto;/*top right bottom left(4 values), topbottom leftright(2 values)*/
}
#tic{
	position: relative;
	margin: 0 auto;
	height: 305px;
	width: 305px;
	display: inline-block;
	float: left;
	border: 1px solid dodgerblue;
}
#rules{
	position: relative;
	width: 318px;
	height: 318px;
	text-align: center;
	display: inline-block;
	float: right;
}
p{
	font-size: 26px;
	margin: 15px;
	color: brown;
}
h2{
	font-family: cursive;
	font-size: 35px;
	color: brown;
}
button{
	margin-top: 15px;
	width: 200px;
	height: 50px;
	font-size: 20px
	font-weight: bold;
	background-color: limegreen;
	color: gold;
	font-family: cursive;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow:2px 2px 2px 1px rgba(0,0,0,0.7);/*horizonal-hadow vertical-shadow blur spread rgba(r,g,b,a)*/

}
canvas:hover{
	background-color: lightblue;
}
button:hover{
	background-color: green;
}